<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %} - FlaskApp</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <style>
    
      
    </style>

     <script src="/assets/js/custom.js"></script>
     <link rel="stylesheet" href="/assets/custom.css">
    
</head>
<body onload="loadImage()" >
  
<div class="container-fluid ">
    
  
    
                 <nav class="navbar navbar-dark bg-dark" style="margin-bottom: 2%" >
                     <h4 style="color: white;padding: 1%;">Stitch Length Prediction</h3>
                </nav>

             <div class="row ">
                    <div class="content">
                         {% block content %} {% endblock %}
             </div>

    </div>
</div>
   

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"  crossorigin="anonymous"></script>
</body>
</html>

